streamlit>=1.40.0
pandas>=2.2
numpy>=1.26
plotly>=5.20
kaleido==0.2.1          # for Plotly static export
pvlib>=0.10
requests>=2.31
scipy>=1.11
scikit-learn>=1.4       # import as sklearn
matplotlib>=3.8
pillow>=10.0            # image save support for matplotlib
python-dateutil>=2.8
pytz>=2024.1
pulp>=2.8.0
highspy>=1.7.0
certifi>=2024.2.2
